<div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="nav nav-tabs ml-3">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/movies-list">Filmy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/actors-list">Osobnosti</a>
          </li>
        </ul>
      </div>
  
      <div class="col-sm">
        <div class="btn-group float-right mr-3 mt-1">
          <button type="button" class="btn btn-success btn-sm">
            Přidat film
          </button>
          <button type="button" class="btn btn-success btn-sm">
            Přidat osobnost
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <app-modal header="Hello, world!" [isClosed]="isModalClosed" (crossClicked)="isModalClosed = true">
    <p>
      Ukázka <code>ng-contentu</code> v <strong>Angular</strong> projektu
    </p>
  
    <button footer type="button" class="btn btn-primary">Uložit</button>
    <button footer type="button" class="btn btn-secondary" (click)="isModalClosed = true">Zavřít</button>
  </app-modal>

  

